//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
$roboto-condensed:'Roboto Condensed', sans-serif;

// variables

$primary-background:#333;
$secondary-background:#F5C6A5;

// colors
$primary-color:#FF7777;
$secondary-color:#A2416B;
$tertiary-color:#852747;
$text-color: #fff;

//margins and paddings
$margin-1:0.5rem;
$margin-2:1rem;
$margin-3:1.5rem;
$margin-4:2rem;

$padding-1:0.5rem;
$padding-2:0.8rem;
$padding-3:1.2rem;
